%button {
  display: inline-block;
  background-color: $secondary-color;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  color: $white;
  &:hover {
    color: $white;
    background-color: $primary-color;
  }
}
button{
  outline: none;
}
input{
  outline: none;
}
.button {
  @extend%button;
}
.button--orange {
  @extend %button;
  background-color: $secondary-color;
}
.button--blue {
  @extend %button;
  background-color: $tertiary-color;
}
.button--purple {
  @extend %button;
  background-color: $fourth-color;
}

%button-long {
  font-size: 2.5rem;
  background-color: $primary-color;
  display: flex;
  color: $white;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  height: 100%;
  &:hover {
    color: $white;
    background-color: $primary-color;
  }
  & svg {
    margin-left: 1rem;
  }
  z-index: 10;
}

.button-long {
  @extend %button-long;
}
.button-long--orange {
  @extend %button-long;
  background-color: $secondary-color;
}
.button-long--blue {
  @extend %button-long;
  background-color: $tertiary-color;
}
.button-long--purple {
  @extend %button-long;
  background-color: $fourth-color;
}
