.header {
  // position: sticky;
  // top: 0;
  z-index: 15;
  @include b-800 {
    display: none;
  }
  &__top {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(240, 240, 240);
  }
  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    & li {
      margin-left: 2rem;
      font-size: 1.4rem;
      &:first-child {
        margin-left: 0;
      }
    }
    & a {
      display: flex;
      align-items: center;
      & svg {
        margin-left: 0.5rem;
        font-size: 2.5rem;
      }
    }
  }
  %main {
    background-color: $background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 10;
  }
  &__main {
    @extend %main;
    &--modify {
      @extend %main;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 93%;
        height: 0.1rem;
        background-color: $primary-color;
      }
    }
  }
  &__logo {
    width: 26rem;
  }
}
