html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
}

div {
  font-family: $main-font;
}

p {
  font-family: $main-font;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

li {
  font-family: $main-font;
}

span {
  font-family: inherit;
  color: inherit;
}

//MINIFRAMEWORK

.container {
  padding-left: 7rem;
  padding-right: 7rem;
}
.section {
  padding: 4rem 0;
  background-color: $background;
}
.title{
  color:$white;
  text-align: center;
  font-size: 5rem;
  font-family: $main-title;
  margin: 0;
  letter-spacing: .4rem;
}
.subtitle{
  color: $white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 74rem;
  font-size: 2.1rem;
}
