extends ../templates/template2
block main
  section.blog.section
    .blog__container.container
      h2.title BLOG
      ul.tabs-scroll
        li.tabs-scroll__item--active HISTORIAS
        li.tabs-scroll__item NOTICIAS
        li.tabs-scroll__item RECOMENDACIONES
        li.tabs-scroll__item NOTICIAS
        li.tabs-scroll__item COVID-19
      .blog__main
        .blog__grid
          article.noticia--modify
            figure.noticia__img
              img(src="assets/img/economia-sustentable.jpg", alt="imagen")
            .noticia__data.border-orange
              h3.noticia__title COVID 19
              p.noticia__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta fugiat voluptatem. Ut, incidunt autem obcaecati consequatur natus, esse sed in ex vitae impedit cumque? Delectus deserunt dolorem repudiandae recusandae?
              p.noticia__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta fugiat voluptatem. Ut, incidunt autem obcaecati consequatur natus, esse sed in ex vitae impedit cumque? Delectus deserunt dolorem repudiandae recusandae?
              a.noticia__button.button(href="detalle-blog.html") LEER MÁS
          article.noticia
            figure.noticia__img
              img(src="assets/img/catalogo3.jpg", alt="imagen")
            .noticia__data.border-blue
              h3.noticia__title PANDEMIA
              .noticia__centrar
                p.noticia__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta fugiat voluptatem. Ut, incidunt autem obcaecati consequatur natus, esse sed in ex vitae impedit cumque? Delectus deserunt dolorem
                a.noticia__button.button--blue(href="detalle-blog.html") LEER MÁS
          article.noticia
            figure.noticia__img
              img(src="assets/img/blog/image-blog3.jpg", alt="imagen")
            .noticia__data.border-purple
              h3.noticia__title PANDEMIA
              p.noticia__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta fugiat voluptatem. Ut, incidunt autem obcaecati consequatur natus, esse sed in ex vitae impedit cumque? Delectus deserunt dolorem
              .noticia__right
                a.noticia__button.button--purple(href="detalle-blog.html") LEER MÁS
          article.noticia
            figure.noticia__img
              img(src="assets/img/blog/image-blog4.jpg", alt="imagen")
            .noticia__data.border-blue
              h3.noticia__title PANDEMIA
              p.noticia__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta fugiat voluptatem. Ut, incidunt autem obcaecati consequatur natus, esse sed in ex vitae impedit cumque? Delectus deserunt dolorem
              .noticia__right
                a.noticia__button.button--blue(href="detalle-blog.html") LEER MÁS   
          article.noticia
            figure.noticia__img
              img(src="assets/img/blog/image-blog5.jpg", alt="imagen")
            .noticia__data.border-orange
              h3.noticia__title PANDEMIA
              p.noticia__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta fugiat voluptatem. Ut, incidunt autem obcaecati consequatur natus, esse sed in ex vitae impedit cumque? Delectus deserunt dolorem
              .noticia__right
                a.noticia__button.button(href="detalle-blog.html") LEER MÁS   