extends ../templates/template2
block main
  section.pago-catalogo.section
    .pago-catalogo__container.container
      h2.title TU COLABORACIÓN ES IMPORTANTE
      p.subtitle Para realizar una consulta genera electrónico complete el siguiente formulario. Le responderemoslo antes posible
      form.form--colaboracion(action="")
        .form__group--colaboracion
          input.input(type="text" placeholder="NOMBRE")
        .form__group--colaboracion
          select.input(name="")
            option(value="1") DNI
            option(value="1") RUC
        .form__group--colaboracion
          input.input(type="text" placeholder="APELLIDOS")
        .form__group--colaboracion
          input.input(type="text" placeholder="NUMERO DE DOCUMENTO")
        .form__group--colaboracion
          input.input(type="text" placeholder="CORREO ELECTRÓNICO")
        .form__group--colaboracion
          input.input(type="text" placeholder="TELÉFONO DE CONTACTO")
        .form__group--colaboracion
          input(type="checkbox", name="" id="checkform")
          label(for="checkform") Acepto los términos y condiciones de FH PERÚ
        .form__group--colaboracion
          button.button-long(type='submit') DONA AHORA


        























