extends ../templates/template2
block main
  section.contacto.section
    .contacto__container.container
      h2.contacto__title.title CONTÁCTANOS
      p.subtitle Para realizar una consulta genera electrónico complete el siguiente formulario. Le responderemoslo antes posible
      
