extends ../templates/template2
block main
  section.blog.section
    .blog__container.container
      h2.title BLOG
      ul.tabs-scroll
        li.tabs-scroll__item--active HISTORIAS
        li.tabs-scroll__item NOTICIAS
        li.tabs-scroll__item RECOMENDACIONES
        li.tabs-scroll__item NOTICIAS
        li.tabs-scroll__item COVID-19
      .detalle-blog
        .detalle-blog__main
          .card-title
            figure.card-title__img
              img(src=`assets/img/economia-sustentable.jpg`, alt="imagen")
            p.card-title__title TITULO DEL TEMA
            button.card-title__video(data-video-id="7Ilu033ydSw")
              <i class="fas fa-play-circle"></i>
          .detalle-blog__main__data
            h3.detalle-blog__box TEMA TÍTULO XYZ TEMA TÍTULO XYZ TEMA TÍTULO XYZ  
            p.detalle-blog__subtitle ¿Preguntas y respuestas?
            p.detalle-blog__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, aliquam nesciunt, voluptas consequatur odio perferendis eos quaerat accusamus vitae minima, nisi blanditiis asperiores veritatis ad. Quisquam asperiores commodi corporis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lo
            p.detalle-blog__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, aliquam nesciunt, voluptas consequatur odio perferendis eos quaerat accusamus vitae minima, nisi blanditiis asperiores veritatis ad. Quisquam asperiores commodi corporis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lo es veritatis ad. Quisquam asperiores commodi corporis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lo
        .detalle-blog__main
          figure.detalle-blog__cover
            img(src=`${img}`, alt="andy")
          .detalle-blog__main__data--left
            p.detalle-blog__subtitle ¿Preguntas y respuestas?
            p.detalle-blog__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, aliquam nesciunt, voluptas consequatur odio perferendis eos quaerat accusamus vitae minima, nisi blanditiis asperiores veritatis ad. Quisquam asperiores commodi corporis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lo
            p.detalle-blog__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, aliquam nesciunt, voluptas consequatur odio perferendis eos quaerat accusamus vitae minima, nisi blanditiis asperiores veritatis ad. Quisquam asperiores commodi corporis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lo es veritatis ad. Quisquam asperiores commodi corporis voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lo  
      .detalle-proyecto__right
        a.button(href="") REGRESAR




