extends ../templates/template2
block main
  section.detalle-proyecto.section
    .detalle-proyecto__container.container
      h2.title NUESTROS PROYECTOS
      article.detalle-proyecto__item
        .detalle-proyecto__data
          h3.detalle-proyecto__title PROYECTO NIÑAS
          p.detalle-proyecto__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur est pariatur tenetur, earum nesciunt natus molestiae aliquid vitae corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur est pariatur tenetur, earum nesciunt natus molestiae aliquid vitae corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
          p.detalle-proyecto__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur est pariatur tenetur, earum nesciunt natus molestiae aliquid vitae corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur est pariatur tenetur, earum nesciunt natus molestiae aliquid vitae corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
        .card-title
          figure.card-title__img
            img(src=`${img}`, alt="imagen")
          p.card-title__title TITULO DEL TEMA
          button.card-title__video(data-video-id="7Ilu033ydSw")
            <i class="fas fa-play-circle"></i>
      article.detalle-proyecto__item
        .detalle-proyecto__data--right
          h3.detalle-proyecto__title--modify OBJETIVOS
          ul
            li.detalle-proyecto__text Corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
            li.detalle-proyecto__text Corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
            li.detalle-proyecto__text Corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
        figure.detalle-proyecto__img
          img(src=`${img}`, alt="imagen")
      article.detalle-proyecto__item
        .detalle-proyecto__data
          h3.detalle-proyecto__title--left OBJETIVOS
          ul
            li.detalle-proyecto__text Corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
            li.detalle-proyecto__text Corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
            li.detalle-proyecto__text Corporis illo incidunt temporibus iusto sunt inventore. Quod laboriosam ea illum eligendi!
        figure.detalle-proyecto__img
          img(src=`${img}`, alt="imagen")
      .detalle-proyecto__right
        a.button(href="proyectos.html") REGRESAR
      a.detalle-proyecto__dona.button-long(href="pago-proyecto.html") DONA <svg class="fill-current inline-block h-7" viewBox="0 0 29.999517 24.929307" height="30" width="40"> <g transform="translate(0,-272.07066)" id="layer1"> <g id="g1330" transform="matrix(0.35277777,0,0,-0.35277777,-605.47449,2887.2107)"> <g id="g1332" clip-path="url(#clipPath1336)"> <g id="g1338" transform="translate(1786.5006,7365.9795)"> <path d="m 0,0 c -0.555,-0.555 -1.292,-0.86 -2.076,-0.86 -0.785,0 -1.523,0.305 -2.077,0.86 l -6.914,6.914 v 0 l -6.503,6.503 c -0.649,0.648 -1.701,0.648 -2.35,0 -0.648,-0.649 -0.648,-1.701 0,-2.349 L -6.503,-2.349 c 1.146,-1.145 1.146,-3.009 0,-4.154 -0.555,-0.555 -1.292,-0.86 -2.076,-0.86 -0.785,0 -1.523,0.305 -2.077,0.86 L -24.073,6.914 c -0.649,0.648 -1.7,0.648 -2.35,0 -0.648,-0.649 -0.648,-1.701 0,-2.349 l 6.502,-6.502 0.002,-10e-4 6.913,-6.914 c 1.146,-1.146 1.146,-3.009 10e-4,-4.154 -1.145,-1.145 -3.01,-1.145 -4.154,0 l -6.914,6.914 c -0.128,0.128 -0.272,0.229 -0.425,0.306 l -1.972,1.973 c -0.648,0.648 -1.7,0.648 -2.349,0 -0.649,-0.649 -0.649,-1.701 0,-2.35 l 9.252,-9.251 c 1.145,-1.146 1.145,-3.009 0,-4.154 -0.555,-0.555 -1.293,-0.86 -2.078,-0.86 -0.784,0 -1.522,0.305 -2.077,0.86 l -3.519,3.52 c 0.267,0.704 0.409,1.458 0.409,2.233 0,1.672 -0.65,3.244 -1.833,4.426 -1.183,1.182 -2.754,1.833 -4.426,1.833 -0.085,0 -0.169,-0.003 -0.253,-0.006 0.068,1.686 -0.54,3.393 -1.824,4.676 -1.183,1.182 -2.754,1.833 -4.426,1.833 -0.084,0 -0.169,-0.002 -0.253,-0.006 0.068,1.685 -0.54,3.392 -1.824,4.676 -1.182,1.182 -2.754,1.834 -4.426,1.834 -0.084,0 -0.168,-0.003 -0.253,-0.007 0.068,1.685 -0.54,3.392 -1.824,4.676 -2.44,2.441 -6.411,2.441 -8.851,0 l -2.863,-2.862 c -0.361,-0.361 -0.668,-0.757 -0.922,-1.175 -3.901,4.145 -6.043,9.532 -6.043,15.249 0,5.946 2.316,11.537 6.521,15.742 4.204,4.204 9.795,6.52 15.741,6.52 5.404,0 10.514,-1.912 14.557,-5.417 L -40.241,27.97 c -1.348,-1.348 -2.09,-3.141 -2.09,-5.047 0,-1.907 0.742,-3.699 2.09,-5.047 1.391,-1.392 3.22,-2.087 5.047,-2.087 1.828,0 3.655,0.695 5.047,2.087 l 4.523,4.523 h 5.854 c 0.484,0 0.962,0.033 1.435,0.091 L 0.001,4.154 C 1.146,3.008 1.146,1.145 0,0 m -31.015,-15.892 -2.862,-2.863 c -0.555,-0.555 -1.292,-0.86 -2.077,-0.86 -0.784,0 -1.522,0.305 -2.076,0.86 -1.146,1.146 -1.146,3.009 0,4.154 l 2.862,2.863 v 0 c 0.555,0.555 1.292,0.861 2.077,0.861 0.784,0 1.522,-0.306 2.076,-0.861 0.556,-0.554 0.861,-1.292 0.861,-2.077 0.001,-0.785 -0.305,-1.522 -0.861,-2.077 m -13.518,3.641 c -0.556,0.554 -0.861,1.292 -0.861,2.077 0,0.784 0.305,1.522 0.861,2.076 l 2.862,2.863 c 0.555,0.555 1.292,0.86 2.077,0.86 0.784,0 1.522,-0.305 2.076,-0.86 1.146,-1.145 1.146,-3.009 0,-4.154 l -2.862,-2.862 c -1.145,-1.145 -3.009,-1.145 -4.153,0 m -6.503,6.502 c -0.556,0.555 -0.86,1.293 -0.86,2.078 0,0.784 0.304,1.522 0.86,2.076 l 2.862,2.863 c 0.555,0.555 1.292,0.86 2.077,0.86 0.784,0 1.522,-0.305 2.076,-0.86 1.146,-1.145 1.146,-3.009 0,-4.154 l -2.862,-2.863 c -1.145,-1.145 -3.009,-1.145 -4.153,0 m -4.427,5.644 c -0.784,0 -1.522,0.305 -2.077,0.86 -0.555,0.555 -0.86,1.292 -0.86,2.077 0,0.784 0.305,1.522 0.86,2.077 l 2.862,2.862 c 0.555,0.555 1.293,0.86 2.077,0.86 0.785,0 1.523,-0.305 2.078,-0.86 1.145,-1.146 1.145,-3.009 0,-4.154 L -53.386,0.754 C -53.94,0.2 -54.678,-0.105 -55.463,-0.105 m 67,34.058 C 11.083,34.75 10.069,35.029 9.271,34.575 8.475,34.122 8.195,33.108 8.649,32.311 13.583,23.634 12.094,12.639 5.027,5.573 L 3.768,4.313 C 3.463,5.112 2.992,5.86 2.35,6.502 l -17.067,17.067 c 1.116,0.549 2.148,1.282 3.053,2.187 l 3.273,3.273 c 0.649,0.649 0.649,1.701 0,2.349 -0.649,0.649 -1.7,0.649 -2.349,0 l -3.274,-3.273 c -1.537,-1.538 -3.582,-2.384 -5.757,-2.384 h -6.542 c -0.441,0 -0.864,-0.176 -1.175,-0.487 l -5.009,-5.009 c -1.488,-1.488 -3.908,-1.488 -5.396,0 -1.488,1.487 -1.488,3.908 0,5.395 l 11.436,11.436 c 6.989,6.989 17.9,8.526 26.532,3.738 0.803,-0.445 1.814,-0.155 2.259,0.647 0.444,0.802 0.155,1.813 -0.647,2.258 -4.761,2.641 -10.372,3.697 -15.797,2.975 -5.077,-0.676 -9.725,-2.802 -13.536,-6.176 -4.679,4.149 -10.637,6.418 -16.946,6.418 -6.834,0 -13.258,-2.661 -18.091,-7.493 -4.832,-4.833 -7.493,-11.257 -7.493,-18.091 0,-6.834 2.661,-13.259 7.493,-18.091 l 0.626,-0.626 c 0.11,-0.109 0.231,-0.198 0.359,-0.27 0.11,-1.437 0.713,-2.843 1.809,-3.939 1.221,-1.221 2.824,-1.831 4.426,-1.831 0.083,0 0.167,0.003 0.25,0.006 -0.004,-0.084 -0.007,-0.168 -0.007,-0.252 0,-1.672 0.652,-3.244 1.834,-4.426 1.221,-1.221 2.823,-1.831 4.426,-1.831 0.083,0 0.166,0.003 0.25,0.007 -0.004,-0.085 -0.007,-0.169 -0.007,-0.253 0,-1.672 0.652,-3.244 1.834,-4.426 1.221,-1.22 2.823,-1.831 4.426,-1.831 0.084,0 0.168,0.003 0.253,0.007 -0.067,-1.686 0.54,-3.395 1.824,-4.68 1.183,-1.182 2.754,-1.833 4.426,-1.833 1.672,0 3.244,0.651 4.426,1.833 l 2.321,2.322 3.136,-3.135 c 1.182,-1.183 2.754,-1.833 4.425,-1.833 1.672,0 3.245,0.65 4.426,1.833 1.3,1.3 1.907,3.034 1.823,4.739 0.104,-0.005 0.209,-0.008 0.313,-0.008 1.604,0 3.206,0.61 4.427,1.831 1.283,1.284 1.89,2.991 1.824,4.676 0.084,-0.004 0.168,-0.007 0.253,-0.007 1.672,0 3.243,0.652 4.426,1.834 1.283,1.284 1.89,2.991 1.824,4.676 0.084,-0.004 0.168,-0.007 0.252,-0.007 1.672,0 3.244,0.652 4.427,1.834 0.599,0.6 1.051,1.294 1.357,2.034 0.161,0.079 0.314,0.184 0.447,0.318 l 3.222,3.221 c 8.122,8.12 9.833,20.756 4.162,30.729" style="fill-opacity: 1; fill-rule: nonzero; stroke: none;" id="path1340" fill="#f0f1f1"></path> </g> </g> </g> </g> </svg>
      section.dona-empresas.section
    .dona-empresas.container
      h2.title EMPRESAS ALIADAS
       <div id="intro" class="glide dona-empresas__slider">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo0.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo1.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo4.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo5.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo0.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo1.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo4.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo5.jpg`, alt="")
            </li>

          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-caret-left"></i></button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-caret-right"></i></button>
        </div>
      </div>