extends ../templates/template2
block main
  section.dona-personas.section
    .dona-personas__container.container
      h2.title PATROCINA UN PROYECTO
      .dona-personas__grid
        article.dona-personas__card.card
          .card__cover
            h3.card__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
            p.card__text Esto es un resumen del proyecto de prueba
          figure.card__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.card__button.button-long(href="#") DONA <i class="far fa-heart"></i>
        article.dona-personas__card.card
          .card__cover
            h3.card__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
            p.card__text Esto es un resumen del proyecto de prueba
          figure.card__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.card__button.button-long(href="#") DONA <i class="far fa-heart"></i>
        article.dona-personas__card.card
          .card__cover
            h3.card__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
            p.card__text Esto es un resumen del proyecto de prueba
          figure.card__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.card__button.button-long(href="#") DONA <i class="far fa-heart"></i>
        article.dona-personas__card.card
          .card__cover
            h3.card__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
            p.card__text Esto es un resumen del proyecto de prueba
          figure.card__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.card__button.button-long(href="#") DONA <i class="far fa-heart"></i>
        article.dona-personas__card.card
          .card__cover
            h3.card__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
            p.card__text Esto es un resumen del proyecto de prueba
          figure.card__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.card__button.button-long(href="#") DONA <i class="far fa-heart"></i>
        article.dona-personas__card.card
          .card__cover
            h3.card__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
            p.card__text Esto es un resumen del proyecto de prueba
          figure.card__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.card__button.button-long(href="#") DONA <i class="far fa-heart"></i>
  section.dona-personas.section
    .catalogo__container.container
      h2.title CATÁLOGO DE LA ESPERANZA
      p.subtitle Con tu apoyo podrás lograr que más proyectos se desarrollen en las comunidades donde intervenimos y así seguir transformando sus vidas.
      <div id="catalogo" class="glide dona-empresas__slider">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.card__button.button-long DONA <i class="far fa-heart"></i>
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.card__button.button-long DONA <i class="far fa-heart"></i>
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.card__button.button-long DONA <i class="far fa-heart"></i>
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.card__button.button-long DONA <i class="far fa-heart"></i>
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.card__button.button-long DONA <i class="far fa-heart"></i>
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.card__button.button-long DONA <i class="far fa-heart"></i>
            </li>
          </ul>
        </div>
          <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-caret-left"></i></button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-caret-right"></i></button>
        </div>
      </div>





