extends ../templates/template2
block main
  section.info.section
    .info__container.container
      h2.title EMPRESAS TRANSFORMADORAS
      p.subtitle ¿POR QUÉ SON NECESARIAS LAS COLABORACIONES ENTRE LAS EMPRESAS Y LAS ONG?
      .info__grid
        .info__item.border-purple
          <i class="fas fa-globe color-purple"></i>
          p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ad. Officia, numquam. Quod repellat laboriosam corrupti illum mollitia vitae quasi iure 
        .info__item.border-orange
          <svg class="mx-auto my-5" width="70" height="70" viewBox="0 0 29.848173 29.848441" sodipodi:docname="bandera.svg"> <defs id="defs2070"></defs> <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="2.8" inkscape:cx="33.726588" inkscape:cy="54.754055" inkscape:document-units="mm" inkscape:current-layer="layer1" showgrid="false" units="px" inkscape:window-width="1920" inkscape:window-height="1004" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="1"></sodipodi:namedview> <metadata id="metadata2073"> <rdf:rdf> <cc:work rdf:about=""> <dc:format>image/svg+xml</dc:format> <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type> <dc:title></dc:title> </cc:work> </rdf:rdf> </metadata> <g inkscape:label="Capa 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-267.15155)"> <path d="m 15.385943,286.15064 h 6.062839 v 9.67775 h -6.062839 z m -14.2243521,6.99594 h 5.946422 v 2.68181 h -5.946422 z m 7.112,-3.49779 h 5.9464211 v 6.1796 H 8.2735909 Z M 18.830112,271.63842 c 0.227189,-0.22754 0.227189,-0.59655 0,-0.82444 l -2.502958,-2.50261 h 8.736541 v 5.83001 h -8.736541 z m 10.430933,9.49854 h -3.031419 v -13.40837 c 0,-0.32209 -0.261056,-0.58315 -0.583142,-0.58315 H 14.919923 c -0.236008,0 -0.44838,0.14217 -0.538691,0.35984 -0.09031,0.21801 -0.04022,0.46884 0.126294,0.63535 l 3.085747,3.08575 -3.085747,3.08574 c -0.166511,0.16652 -0.216605,0.41734 -0.126647,0.63536 0.09031,0.21766 0.303036,0.35983 0.538692,0.35983 h 10.144124 v 5.82965 h -3.031772 c -0.321733,0 -0.583141,0.26106 -0.583141,0.58315 v 3.2646 h -6.645628 c -0.321733,0 -0.583142,0.26106 -0.583142,0.58279 v 2.915 H 7.6908019 c -0.322086,0 -0.582789,0.26106 -0.582789,0.58279 v 2.915 H 0.57844886 c -0.322086,0 -0.582789,0.26106 -0.582789,0.58315 v 3.84774 c 0,0.32173 0.260703,0.58279 0.582789,0.58279 H 29.261045 c 0.321734,0 0.58279,-0.26106 0.58279,-0.58279 v -4.72228 c 0,-0.32173 -0.261056,-0.58279 -0.58279,-0.58279 -0.321733,0 -0.58279,0.26106 -0.58279,0.58279 v 4.13914 h -6.06319 v -13.52515 h 6.06319 v 4.13915 c 0,0.32208 0.261057,0.58314 0.58279,0.58314 0.321734,0 0.58279,-0.26106 0.58279,-0.58314 v -4.72193 c 0,-0.32209 -0.261056,-0.58315 -0.58279,-0.58315" style="fill:#e48128;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.35277775" id="path212" inkscape:connector-curvature="0"></path> </g> </svg>
          p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ad. Officia, numquam. Quod repellat laboriosam corrupti illum mollitia vitae quasi iure 
        .info__item.border-blue
          <svg class="mx-auto my-5" width="70" height="70" viewBox="0 0 16.508148 16.508678" sodipodi:docname="phone.svg"> <defs id="defs1975"></defs> <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="3.959798" inkscape:cx="15.1855" inkscape:cy="4.5898507" inkscape:document-units="mm" inkscape:current-layer="layer1" showgrid="false" units="px" inkscape:window-width="1920" inkscape:window-height="1004" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="1"></sodipodi:namedview> <metadata id="metadata1978"> <rdf:rdf> <cc:work rdf:about=""> <dc:format>image/svg+xml</dc:format> <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type> <dc:title></dc:title> </cc:work> </rdf:rdf> </metadata> <g inkscape:label="Capa 1" inkscape:groupmode="layer" id="layer1" transform="translate(0,-280.49131)"> <g id="g396" transform="matrix(0.35277777,0,0,-0.35277777,13.519564,284.85218)"> <path d="m 0,0 -3.576,0.302 -0.301,3.576 3.278,3.278 0.204,-2.422 C -0.338,4.068 0.19,3.54 0.857,3.483 L 3.279,3.279 Z m -15.896,-12.019 c 0.268,-0.267 0.619,-0.401 0.969,-0.401 0.351,0 0.702,0.134 0.97,0.401 l 3.149,3.15 c 0.346,-0.652 0.543,-1.393 0.543,-2.18 0,-2.57 -2.091,-4.661 -4.662,-4.661 -2.57,0 -4.661,2.091 -4.661,4.661 0,2.57 2.091,4.661 4.661,4.661 0.788,0 1.529,-0.196 2.18,-0.543 l -3.149,-3.149 c -0.536,-0.535 -0.536,-1.402 0,-1.939 m 0.969,-11.918 c -7.105,0 -12.886,5.782 -12.886,12.888 0,7.106 5.781,12.887 12.886,12.887 3.06,0 5.875,-1.072 8.087,-2.861 l -3.914,-3.914 c -1.189,0.814 -2.626,1.291 -4.173,1.291 -4.082,0 -7.403,-3.321 -7.403,-7.403 0,-4.082 3.321,-7.403 7.403,-7.403 4.083,0 7.404,3.321 7.404,7.403 0,1.547 -0.478,2.984 -1.292,4.172 l 3.914,3.915 c 1.789,-2.213 2.861,-5.027 2.861,-8.087 0,-7.106 -5.781,-12.888 -12.887,-12.888 M 5.036,1.158 7.306,3.428 C 7.683,3.805 7.807,4.367 7.624,4.868 7.44,5.369 6.983,5.718 6.451,5.763 L 2.241,6.118 1.886,10.329 C 1.841,10.86 1.492,11.317 0.991,11.501 0.49,11.685 -0.072,11.561 -0.45,11.183 l -2.269,-2.27 c -3.671,2.251 -7.867,3.436 -12.208,3.436 -5.06,0 -9.875,-1.596 -13.87,-4.549 l 2.127,-1.851 c 3.425,2.377 7.485,3.657 11.743,3.657 3.61,0 7.106,-0.926 10.207,-2.693 L -6.266,5.366 c -0.25,-0.25 -0.393,-0.585 -0.401,-0.933 -0.001,-0.051 0,-0.101 0.004,-0.151 l 0.184,-2.187 c -2.437,1.572 -5.337,2.485 -8.448,2.485 -8.617,0 -15.629,-7.012 -15.629,-15.629 0,-8.618 7.012,-15.629 15.629,-15.629 8.618,0 15.63,7.011 15.63,15.629 0,3.11 -0.914,6.011 -2.486,8.447 L 0.404,-2.786 C 0.443,-2.789 0.481,-2.79 0.52,-2.79 c 0.006,0 0.013,0 0.019,10e-4 0.019,0 0.036,0.001 0.055,0.002 0.029,0.002 0.059,0.004 0.089,0.008 0.018,0.002 0.036,0.005 0.054,0.008 0.029,0.004 0.057,0.009 0.086,0.016 0.018,0.004 0.036,0.009 0.054,0.014 0.028,0.007 0.056,0.015 0.083,0.025 0.018,0.006 0.035,0.012 0.053,0.019 0.027,0.01 0.053,0.021 0.079,0.034 0.017,0.008 0.034,0.016 0.051,0.023 0.026,0.014 0.052,0.03 0.077,0.044 0.015,0.009 0.031,0.018 0.046,0.028 0.027,0.017 0.053,0.037 0.079,0.056 0.012,0.009 0.025,0.018 0.036,0.028 0.037,0.029 0.074,0.061 0.108,0.095 l 1.546,1.546 c 1.767,-3.1 2.694,-6.596 2.694,-10.206 0,-5.517 -2.148,-10.705 -6.05,-14.606 -3.901,-3.902 -9.088,-6.05 -14.606,-6.05 -5.517,0 -10.704,2.148 -14.605,6.05 -3.902,3.901 -6.051,9.089 -6.051,14.606 0,4.852 1.663,9.447 4.716,13.138 l -2.07,1.8 c -3.488,-4.191 -5.387,-9.418 -5.387,-14.938 0,-6.25 2.433,-12.126 6.853,-16.545 4.419,-4.419 10.295,-6.853 16.544,-6.853 6.25,0 12.126,2.434 16.545,6.853 4.42,4.419 6.853,10.295 6.853,16.545 0,4.341 -1.185,8.536 -3.435,12.207" style="fill:#97ad4a;fill-opacity:1;fill-rule:nonzero;stroke:none" id="path398" inkscape:connector-curvature="0"></path> </g> </g> </svg>
          p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ad. Officia, numquam. Quod repellat laboriosam corrupti illum mollitia vitae quasi iure  
  section.dona-colaborar.section
    .dona-colaborar.container
      h2.title ¿CÓMO COLABORAR?
      p.dona-colaborar__subtitle.subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
      .dona-colaborar__form.form-main
        figure.form-main__img
          img(src=`${img}`, alt="")
        form.form-main__form(action="gracias-registro.html")
          .form-main__group
            input.input(type="text" placeholder="RUC")
          .form-main__group
            input.input(type="text" placeholder="NOMBRE")
          .form-main__group
            input.input(type="text" placeholder="RAZÓN SOCIAL")
          .form-main__group
            input.input(type="text" placeholder="APELLIDOS")
          .form-main__group
            input.input(type="text" placeholder="CORREO ELECTRÓNICO")
          .form-main__group
            input.input(type="text" placeholder="TELEFONO DE CONTACTO")
          .form-main__group--full
            textarea.form-main__textarea.input(name="", cols="30", rows="10" placeholder="¿QUIÉRES SER PARTE DE LA FAMILIA FH PERÚ?,DÉJANOS TUS CONSULTAS O COMENTARIOS...")
            button.button--blue.button-icon(type='submit') ENVIAR <i class="far fa-envelope"></i>
          .form-main__group
            input(type="checkbox", name="" id="checkform")
            label(for="checkform") Acepto los términos y condiciones de FH PERÚ
  section.dona-empresas.section
    .dona-empresas.container
      h2.title EMPRESAS ALIADAS
      <div id="intro" class="glide dona-empresas__slider">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo0.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo1.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo4.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo5.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo0.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo1.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo4.jpg`, alt="")
            </li>
            <li class="glide__slide">
              a(href="https://www.google.com/" target="_blank")
                figure.logo-circular
                  img(src=`assets/img/empresas/image-logo5.jpg`, alt="")
            </li>

          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-caret-left"></i></button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-caret-right"></i></button>
        </div>
      </div>

      




