extends ../templates/template2
block main
  section.gracias.section
    .gracias__container.container
      figure.gracias__img
        img(src=`assets/img/image-graciasdonacion.jpg`, alt="imagen")
      h2.title GRACIAS POR TU REGISTRO
      h2.subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing 
        























