extends ../templates/template

block banner
  <div class="glide banner">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides banner__slider">
        <li class="glide__slide banner__item">
          figure.banner__img
            img(src="assets/img/banner1.jpg", alt="")
          .banner__data.container
            p.banner__title ¿DÓNDE PUEDO CONSEGUIRLO?
            P.banner__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias similique laudantium quae quidem voluptatum mollitia iusto quo sed et at vitae vel omnis dignissimos, magnam, fuga natus iure doloremque? Unde!
            a.button(href="#") SABER MÁS
        </li>
        <li class="glide__slide banner__item">
          figure.banner__img
            img(src="assets/img/banner2.jpg", alt="")
          .banner__data.container
            p.banner__title Start at specific slide number defined with zero-based index.
            a.banner__button.button(href="#") SABER MÁS
        </li>
      </ul>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
      <button class="glide__bullet" data-glide-dir="=0"></button>
      <button class="glide__bullet" data-glide-dir="=1"></button>
    </div>
  </div>
block main
  section.proyectos.section
    .proyectos__container.container
      h2.title NUESTROS PROYECTOS
      p.subtitle Somos una organización internacional de desarrollo con 37 años en el país, que busca terminar con todo tipo de pobreza humana a través de nuestros proyectos de transformación comunitaria.
      .proyectos__grid
        article.proyectos__item
          .proyectos__cover
            h3.proyectos__title ECONOMÍA SUSTENTABLE
            p.proyectos__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
          figure.proyectos__img
            img(src="assets/img/economia-sustentable.jpg", alt="")
          a.proyectos__button.button-long(href="#") DONA <i class="far fa-heart"></i>
        article.proyectos__item
          .proyectos__cover
            h3.proyectos__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
            p.proyectos__text Esto es un resumen del proyecto de prueba
          figure.proyectos__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.proyectos__button.button-long(href="#") DONA <i class="far fa-heart"></i>
        article.proyectos__item
          .proyectos__cover
            h3.proyectos__title LÍDERES TRANSFORMADORES
            p.proyectos__text Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. 
          figure.proyectos__img
            img(src="assets/img/lideres-transformados.jpg", alt="")
          a.proyectos__button.button-long--orange(href="#") DONA <i class="far fa-heart"></i>
        article.proyectos__item
          .proyectos__cover
            h3.proyectos__title ALCANZANDO SU POTENCIAL
            p.proyectos__text Alcanzando su potencial 
          figure.proyectos__img
            img(src="assets/img/alcanzando-potencial.jpg", alt="")
          a.proyectos__button.button-long--purple(href="#") DONA <i class="far fa-heart"></i>
        article.proyectos__item
          .proyectos__cover
            h3.proyectos__title HOGARES LIBRES DE VIOLENCIA
            p.proyectos__text Rechazamos todo tipo de violencia, trabajando en el empoderamiento de las mujeres e involucramiento de los hombres para buscar la igualdad y equidad de género dentro de sus comunidades. 
          figure.proyectos__img
            img(src="assets/img/hogares-libres.jpg", alt="")
          a.proyectos__button.button-long--purple(href="#") DONA <i class="far fa-heart"></i>
      .proyectos__catalogo
        figure.proyectos__catalogo__img
          img(src="assets/img/economia-sustentable.jpg", alt="imagen")
        figure.proyectos__catalogo__img
          img(src="assets/img/catalogo2.jpg", alt="imagen")
        figure.proyectos__catalogo__img
          img(src="assets/img/catalogo3.jpg", alt="imagen")
        a.proyectos__catalogo__button.button-long(href="#") CONOCE NUESTRO CATÁLOGO VIRTUAL
        .proyectos__catalogo__data
          p.proyectos__catalogo__title CATÁLOGO DE LA ESPERANZA
          p.proyectos__catalogo__text CADA ELEMENTO ES ENTREGADO A LAS FAMILIAS DE LAS COMUNIDADES DONDE INTERVENIMOS. ESTO FORMA PARTE DEL PLAN DE TRANSFORMACIÓN COMUNITARIO.

















