extends ../templates/template2
block main
  section.login-register.section
    .login-register__container.container
      h2.title INICIAR SESIÓN
      .login-register__grid
        form.login-register__form(action="")
          p.login-register__form__title.title INGRESA TUS DATOS
          .login-register__form__group--login
            input.input(type="text" placeholder="USUARIO")
          .login-register__form__group--login
            input.input(type="text" placeholder="CONTRASEÑA")
          .login-register__form__group--check
            input(type="checkbox", name="" id="checkform")
            label(for="checkform") Acepto los términos y condiciones de FH PERÚ
          .login-register__form__group--button
            button.button REGISTRARME
        figure.login-register__img
          img(src=`${img}`, alt="imagen")


