<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    article.card
      .card__cover
        h3.card__title HOGARES LIBRES DE VIOLENCIA
        p.card__text Rechazamos todo tipo de violencia, trabajando en el empoderamiento de las mujeres e involucramiento de los hombres para buscar la igualdad y equidad de género dentro de sus comunidades. 
      figure.card__img
        img(src="assets/img/hogares-libres.jpg", alt="")
      a.card__button.button-long--purple(href="pago-catalogo.html") DONA 
    article.card
      .card__cover
        h3.card__title LÍDERES TRANSFORMADORES
        p.card__text Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. 
      figure.card__img
        img(src="assets/img/lideres-transformados.jpg", alt="")
      a.card__button.button-long--orange(href="pago-catalogo.html") DONA 
    article.card
      .card__cover
        h3.card__title ECONOMÍA SUSTENTABLE
        p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
      figure.card__img
        img(src="assets/img/economia-sustentable.jpg", alt="")
      a.card__button.button-long(href="pago-catalogo.html") DONA 
    article.card
      .card__cover
        h3.card__title COMBATIENDO ANÉMIA Y DESNUTRICIÓN
        p.card__text Esto es un resumen del proyecto de prueba
      figure.card__img
        img(src="assets/img/anemia-desnutricion.jpg", alt="")   
      a.card__button.button-long(href="pago-catalogo.html") DONA 
    article.card
      .card__cover
        h3.card__title ALCANZANDO SU POTENCIAL
        p.card__text Alcanzando su potencial 
      figure.card__img
        img(src="assets/img/alcanzando-potencial.jpg", alt="")
      a.card__button.button-long--purple(href="pago-catalogo.html") DONA 
    