extends ../templates/template2
block main
  section.pago-proyecto.section
    .pago-proyecto__container.container
      h2.title TU COLABORACIÓN ES IMPORTANTE
      p.subtitle Para realizar una consulta genera electrónico complete el siguiente formulario. Le responderemoslo antes posible
      form.pago-proyecto__form
        figure.pago-proyecto__form__img
          img(src=`${img}`, alt="imagen")
        .pago-proyecto__form__group
          select.input(name="")
            option(value="1") PROYECTO NIÑAS
            option(value="2") PROYECTO NIÑASAS
        .pago-proyecto__form__group
          label(for="pago-unico1").button PAGO ÚNICO
          input.ocultar#pago-unico1(type="radio", name="tipo-pago")
          label(for="pago-unico2").button PAGO MENSUAL
          input.ocultar#pago-unico2(type="radio", name="tipo-pago")
        .pago-proyecto__form__group
          label.button S/30
          label.button S/50
          label.button S/100
        .pago-proyecto__form__group
          p
            span S/80
            span PEN
        .pago-proyecto__form__group
          button.button-long--blue(type='submit') DONA AHORA 
        .pago-proyecto__form__group
          input(type="checkbox", name="" id="checkform")
          label(for="checkform") Acepto los términos y condiciones de FH PERÚ
  section.info-proyecto.section
    .info-proyecto__container.container
      .info-proyecto__box
        h2.info-proyecto__title.title PROYECTO NIÑAS
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? 
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.
        .info-proyecto__right
          a.button(href="#") VER MÁS

        























