extends ../templates/template2
block main
  section.pago-catalogo.section
    .pago-catalogo__container.container
      h2.title TU COLABORACIÓN ES IMPORTANTE
      p.subtitle Para realizar una consulta genera electrónico complete el siguiente formulario. Le responderemoslo antes posible
      .pago-catalogo__grid
        figure.pago-catalogo__img
          img(src=`${img}`, alt="imagen")
        form.pago-catalogo__form(action="")
          .pago-catalogo__title.title.color-blue CATÁLOGO DE LA ESPERANZA
          .pago-catalogo__form__text PRODUCTO
          .pago-catalogo__form__group
            input.input(type="text" value="POLLO")
          .pago-catalogo__form__text CANTIDAD
          .pago-catalogo__form__group
            input.input(type="number" value="POLLO" placeholder="1unid")
          .pago-catalogo__form__group
            button.button-long--blue DONA AHORA
          .pago-catalogo__form__group
            input(type="checkbox", name="" id="checkform")
            label(for="checkform") Acepto los términos y condiciones de FH PERÚ
  section.info-proyecto.section
    .info-proyecto__container.container
      .info-proyecto__box
        h2.info-proyecto__title.title POR QUÉ ES IMPORTANTE
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? 
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.
        p.info-proyecto__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.Lorem, ipsum dolor sit amet consectetur adipisicing elit. At iusto nihil incidunt, voluptatibus pariatur vitae dolorum error quam alias repellendus eius esse dicta harum beatae fuga et illum? Dolore, eos.
        .info-proyecto__right
          a.button(href="#") VER MÁS

        























