extends ../templates/template2
block main
  section.preguntas.section
    .preguntas__container.container
      h2.title PREGUNTAS FRECUENTES
      figure.preguntas__img
        img(src=`${img}`, alt="")
      button.accordion#defaultOpen ¿Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
      .panel
        p.preguntas__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro quaerat unde. Architecto autem, quidem animi possimus odio voluptas velit, perferendis deleniti libero culpa error, officiis officia debitis doloremque ipsa.
      button.accordion ¿Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
      .panel
        p.preguntas__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro quaerat unde. Architecto autem, quidem animi possimus odio voluptas velit, perferendis deleniti libero culpa error, officiis officia debitis doloremque ipsa.
      button.accordion ¿Lorem ipsum dolor sit amet, consectetuer adipiscing elit?
      .panel
        p.preguntas__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam porro quaerat unde. Architecto autem, quidem animi possimus odio voluptas velit, perferendis deleniti libero culpa error, officiis officia debitis doloremque ipsa.

