extends ../templates/template2
block main
  section.proyectos.section
    .proyectos__container.container
      h2.title NUESTROS PROYECTOS
      .proyectos__grid
        article.card.proyectos__item
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
          figure.card__img
            img(src="assets/img/economia-sustentable.jpg", alt="")
          a.card__button.button-long(href="detalle-proyecto") LIDERES TRANSFORMADOS 
        article.card
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
          figure.card__img
            img(src="assets/img/anemia-desnutricion.jpg", alt="")
          a.card__button.button-long(href="detalle-proyecto.html") COMBATIENDO ANEMIA Y DESNUTRICIÓN 
        article.card
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
          figure.card__img
            img(src="assets/img/lideres-transformados.jpg", alt="")
          a.card__button.button-long--orange(href="detalle-proyecto.html") ALCANZANDO SU POTENCIAL
        article.card
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
          figure.card__img
            img(src="assets/img/alcanzando-potencial.jpg", alt="")
          a.card__button.button-long--purple(href="detalle-proyecto.html") TITULO PROYECTO
        article.card
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit!  
          figure.card__img
            img(src="assets/img/nuestro-trabajo-proyecto/image-proyecto1.jpg", alt="")
          a.card__button.button-long--purple(href="detalle-proyecto.html") TITULO PROYECTO
        article.card
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
          figure.card__img
            img(src="assets/img/nuestro-trabajo-proyecto/image-proyecto7.jpg", alt="")
          a.card__button.button-long--purple(href="detalle-proyecto.html") TITULO PROYECTO 
        article.card
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit!  
          figure.card__img
            img(src="assets/img/nuestro-trabajo-proyecto/image-proyecto5.jpg", alt="")
          a.card__button.button-long--blue(href="detalle-proyecto.html") TITULO PROYECTO 
        article.card
          .card__cover
            h3.card__title TITULO
            p.card__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias amet reprehenderit! 
          figure.card__img
            img(src="assets/img/nuestro-trabajo-proyecto/image-proyecto6.jpg", alt="")
          a.card__button.button-long--orange(href="detalle-proyecto.html") TITULO PROYECTO
  section.dona-personas.section
    .catalogo__container.container
      h2.title CATÁLOGO DE LA ESPERANZA
      p.subtitle Con tu apoyo podrás lograr que más proyectos se desarrollen en las comunidades donde intervenimos y así seguir transformando sus vidas.
      <div id="catalogo" class="glide dona-empresas__slider">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/nuestro-trabajo-proyecto/catalogo-de-la-esperanza/image-animales.jpg", alt="")
                span.btn-animales.card__button.button-long--orange ANIMALES 
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/nuestro-trabajo-proyecto/catalogo-de-la-esperanza/image-educacion.jpg", alt="")
                span.btn-educacion.card__button.button-long--blue EDUCACIÓN 
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.btn-salud.card__button.button-long--purple SALUD 
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/nuestro-trabajo-proyecto/catalogo-de-la-esperanza/image-animales.jpg", alt="")
                span.btn-animales.card__button.button-long--orange ANIMALES 
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/nuestro-trabajo-proyecto/catalogo-de-la-esperanza/image-educacion.jpg", alt="")
                span.btn-educacion.card__button.button-long--blue EDUCACIÓN 
            </li>
            <li class="glide__slide">
              article.dona-personas__card.card
                figure.card__img
                  img(src="assets/img/anemia-desnutricion.jpg", alt="")
                span.btn-salud.card__button.button-long--purple SALUD 
            </li>
          </ul>
        </div>
          <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-caret-left"></i></button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-caret-right"></i></button>
        </div>
      </div>
      .catalogo__ajax
        .proyectos__grid#contenido-ajax