extends ../templates/template2
block main
  section.info.section
    .info__container.container
      h2.title SUMATE A FH PERÚ
      .info__grid
        .info__item.border-purple
          <i class="fas fa-globe color-purple"></i>
          p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ad. Officia, numquam. Quod repellat laboriosam corrupti illum mollitia vitae quasi iure 
        .info__item.border-orange
          <i class="fas fa-globe color-orange"></i>
          p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ad. Officia, numquam. Quod repellat laboriosam corrupti illum mollitia vitae quasi iure 
        .info__item.border-blue
          <i class="fas fa-globe color-blue"></i>
          p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ad. Officia, numquam. Quod repellat laboriosam corrupti illum mollitia vitae quasi iure 
  section.sumate.section
    .sumate__container.container
      h2.title.color-blue PARTNERS
      p.subtitle CONVIÉRTETE EN UN SOCIO Y CAMINA CON NOSOTROS PARA JUNTOS TERMINAR CON LA POBREZA
      .sumate__grid
        figure.sumate__img
          img(src=`assets/img/nuestro-trabajo-sumate/imagen-partenrs.jpg`, alt="imagen")
        .sumate__data
          p.sumate__text Como “ptartners o ”socios puedes univerte con nosotros y lograr desarollar nuestros proyectos en las comunidades donde trabajamos, tu alianza fortalecerá la invervención que realizamos y beneficiarás a muchas familias.
          p.sumate__text-form.color-blue LLENA EL FORMULARIO
          form.form-sumate(action="gracias-registro.html")
            .form-sumate__group
              input.input(type="text" placeholder="NOMBRE")
            .form-sumate__group
              input.input(type="text" placeholder="ID | DNI |RUC")
            .form-sumate__group
              input.input(type="text" placeholder="APELLIDOS")
            .form-sumate__group
              input.input(type="text" placeholder="RAZÓN SOCIAL")
            .form-sumate__group
              input.input(type="text" placeholder="CORREO ELECTRÓNICO")
            .form-sumate__group
              input.input(type="text" placeholder="TELÉFONO DE CONTACTO")
            .form-sumate__group
              textarea.input(name="" placeholder="¿QUIÉRES SER PARTE DE LA FAMILIA FH PERÚ? DÉJANOS TUS CONSULTAS O COMENTARIOS...")
              button.button.button-icon.button--blue ENVIAR <i class="far fa-envelope"></i>
  section.sumate.section
    .sumate__container.container
      h2.title.color-orange EMBAJADORES
      p.subtitle CONVIÉRTETE EN UN SOCIO Y CAMINA CON NOSOTROS PARA JUNTOS TERMINAR CON LA POBREZA
      .sumate__grid
        figure.sumate__img
          img(src=`assets/img/lideres-transformados.jpg`, alt="imagen")
        .sumate__data
          p.sumate__text Como “ptartners o ”socios puedes univerte con nosotros y lograr desarollar nuestros proyectos en las comunidades donde trabajamos, tu alianza fortalecerá la invervención que realizamos y beneficiarás a muchas familias.
          p.sumate__text-form.color-orange LLENA EL FORMULARIO
          form.form-sumate(action="gracias-registro.html")
            .form-sumate__group
              input.input(type="text" placeholder="NOMBRE")
            .form-sumate__group
              input.input(type="text" placeholder="ID | DNI |RUC")
            .form-sumate__group
              input.input(type="text" placeholder="APELLIDOS")
            .form-sumate__group
              input.input(type="text" placeholder="RAZÓN SOCIAL")
            .form-sumate__group
              input.input(type="text" placeholder="CORREO ELECTRÓNICO")
            .form-sumate__group
              input.input(type="text" placeholder="TELÉFONO DE CONTACTO")
            .form-sumate__group
              textarea.input(name="" placeholder="¿QUIÉRES SER PARTE DE LA FAMILIA FH PERÚ? DÉJANOS TUS CONSULTAS O COMENTARIOS...")
              button.button.button-icon.button--orange ENVIAR <i class="far fa-envelope"></i>
  section.sumate.section
    .sumate__container.container
      h2.title.color-purple VOLUNTARIO
      p.subtitle CONVIÉRTETE EN UN SOCIO Y CAMINA CON NOSOTROS PARA JUNTOS TERMINAR CON LA POBREZA
      .sumate__grid
        figure.sumate__img
          img(src=`assets/img/image-voluntario.jpg`, alt="imagen")
        .sumate__data
          p.sumate__text Como “ptartners o ”socios puedes univerte con nosotros y lograr desarollar nuestros proyectos en las comunidades donde trabajamos, tu alianza fortalecerá la invervención que realizamos y beneficiarás a muchas familias.
          p.sumate__text-form.color-purple LLENA EL FORMULARIO
          form.form-sumate(action="gracias-registro.html")
            .form-sumate__group
              input.input(type="text" placeholder="NOMBRE")
            .form-sumate__group
              input.input(type="text" placeholder="ID | DNI |RUC")
            .form-sumate__group
              input.input(type="text" placeholder="APELLIDOS")
            .form-sumate__group
              input.input(type="text" placeholder="RAZÓN SOCIAL")
            .form-sumate__group
              input.input(type="text" placeholder="CORREO ELECTRÓNICO")
            .form-sumate__group
              input.input(type="text" placeholder="TELÉFONO DE CONTACTO")
            .form-sumate__group
              textarea.input(name="" placeholder="¿QUIÉRES SER PARTE DE LA FAMILIA FH PERÚ? DÉJANOS TUS CONSULTAS O COMENTARIOS...")
              button.button.button-icon.button--purple ENVIAR <i class="far fa-envelope"></i>
  section.sumate.section
    .sumate__container.container
      h2.title.color-blue TEAM IGLESIA
      p.subtitle CONVIÉRTETE EN UN SOCIO Y CAMINA CON NOSOTROS PARA JUNTOS TERMINAR CON LA POBREZA
      .sumate__grid
        figure.sumate__img
          img(src=`assets/img/image-teamiglesia.jpg`, alt="imagen")
        .sumate__data
          p.sumate__text Como “ptartners o ”socios puedes univerte con nosotros y lograr desarollar nuestros proyectos en las comunidades donde trabajamos, tu alianza fortalecerá la invervención que realizamos y beneficiarás a muchas familias.
          p.sumate__text-form.color-blue LLENA EL FORMULARIO
          form.form-sumate(action="gracias-registro.html")
            .form-sumate__group
              input.input(type="text" placeholder="NOMBRE")
            .form-sumate__group
              input.input(type="text" placeholder="ID | DNI |RUC")
            .form-sumate__group
              input.input(type="text" placeholder="APELLIDOS")
            .form-sumate__group
              input.input(type="text" placeholder="RAZÓN SOCIAL")
            .form-sumate__group
              input.input(type="text" placeholder="CORREO ELECTRÓNICO")
            .form-sumate__group
              input.input(type="text" placeholder="TELÉFONO DE CONTACTO")
            .form-sumate__group
              textarea.input(name="" placeholder="¿QUIÉRES SER PARTE DE LA FAMILIA FH PERÚ? DÉJANOS TUS CONSULTAS O COMENTARIOS...")
              button.button.button-icon.button--blue ENVIAR <i class="far fa-envelope"></i>