//Variables head
- let tituloRedes="FH Perú";
- let descripccionRedes="";
- let urlWeb="";
- let twitterCard="";
- let favicon="assets/img/icons/favicon.ico";
- let imgWeb="";
- let img="assets/img/catalogo3.jpg";