.blog {
  &__portada {
    display: grid;
    grid-template-columns: 60% 1fr;
    margin-top: 4rem;
    gap: 2rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
  }
}
.detalle-blog {
  margin-top: 5rem;
  display: grid;
  gap: 5rem;
  &__main {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  &__box {
    background-color: $primary-color;
    color: $white;
    margin-top: 0;
    font-weight: 400;
    padding: 2rem 3rem;
  }
  &__subtitle,
  &__text {
    padding: 0 3rem;
  }
  &__subtitle {
    color: $primary-color;
    font-size: 2rem;
  }
  &__text {
    color: $white;
    font-size: 2rem;
  }
}
