.login-register {
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 5rem;
    margin-top: 5rem;
    @include b-800 {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    align-items: flex-start;
    @include b-580 {
      grid-template-columns: 1fr;
    }
    &__title {
      font-size: 2.8rem;
      margin-bottom: 1rem;
      grid-column: 1/3;
      text-align: left;
      @include b-580 {
        grid-column: 1/2;
        grid-column: auto;
      }
    }
    &__group {
      &--login {
        grid-column: 1/3;
        @include b-800 {
          grid-column: auto;
        }
      }
      &--check {
        margin-top: 5rem;
        & label {
          font-size: 1.8rem;
        }
      }
      &--button {
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;
      }
      &:nth-child(9) {
        grid-column: 1/2;
        margin-top: 1rem;
        @include b-580 {
          margin-bottom: 1rem;
        }
        & label {
          font-size: 1.6rem;
        }
      }
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__img {
    height: 38rem;
    @include b-800 {
      order: -1;
    }
    @include b-800 {
      height: auto;
    }
    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
