.trabaja {
  &__grid {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
    align-items: flex-start;
  }
  &__puestos {
    display: grid;
    gap: 5rem;
    align-items: flex-start;
  }
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    &__title {
      grid-column: 1/3;
      font-size: 3rem;
      color: $white;
      margin: 0;
      margin-bottom: 1rem;
    }
    &__group {
      &:nth-child(8) {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 65% 1fr 1fr;
        gap: .5rem;
      }
      &:last-child{
        grid-column: 2/3;
        margin-top: 1rem;
        & label{
          font-size: 1.6rem;
        }
      }
      & textarea{
        height: 12rem;
      }
    }
    &__field {
    }
    &__action {
      background-color: $secondary-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-size: 1.6rem;
      color: $white;
      & svg {
        font-size: 4.5rem;
        margin-top: .5rem;
      }
    }
  }
}
