@font-face {
  src: url("../assets/fonts/drescher-grotesk-bold.ttf");
  font-family: "drescher-bold";
}
@font-face {
  src: url("../assets/fonts/drescher-grotesk-regular.ttf");
  font-family: "drescher-regular";
}
@font-face {
  src: url("../assets/fonts/drescher-grotesk-small.ttf");
  font-family: "drescher-small";
}
:root {
  --main-title: "drescher-bold", sans-serif;
  --main-font: "drescher-regular", sans-serif;
  --second-font: "drescher-small", sans-serif;
}

$main-title: var(--main-title);
$main-font: var(--main-font);
$second-font: var(--second-font);
